<table>
  <thead>
    <th>Grupo</th>
    <th>Alimento</th>
    <th>Cantidad sugerida</th>
    <th>Unidad</th>
    <th>Peso bruto redondeado (g)</th>
    <th>Peso neto (g)</th>
    <th>Energia (Kcal)</th>
    <th>Proteina (g)</th>
    <th>Lipidos (g)</th>
    <th>Hidratos de carbono (g)</th>
    <th>Colesterol (mg)</th>
    <th>Vitamina A (µg RE)</th>
    <th>Calcio (mg)</th>
    <th>Hierro (mg)</th>
    <th>Sodio (mg)</th>
    <th>Selenio (µg)</th>
    <th>Azúcares por equivalente (g)</th>
    <th>Indica glucémico (g)</th>
    <th>Carga glucémica</th>
    <th>Etanol (g)</th>
    <th>Opciones</th>
    <th>Fibra</th>
    <th>Acido Folico</th>
    <th>AG Saturados (g)</th>
    <th>AG Monoinsaturados (g)</th>
    <th>AG Poliinsatuirados (g)</th>
  </thead>
  <tbody>
    <%- @aliments.each do |aliment| %>
      <tr>
        <td> <%= aliment.group_name %> </td>
        <td> <%= aliment.name %> </td>
        <td> <%= aliment.suggested_amount %> </td>
        <td> <%= aliment.unit %> </td>
        <td> <%= aliment.gross_weight %> </td>
        <td> <%= aliment.net_weight %> </td>
        <td> <%= aliment.energy %> </td>
        <td> <%= aliment.protein %> </td>
        <td> <%= aliment.lipids %> </td>
        <td> <%= aliment.carbohydrates %> </td>
        <td> <%= aliment.cholesterol %> </td>
        <td> <%= aliment.vitamin_a %> </td>
        <td> <%= aliment.calcium %> </td>
        <td> <%= aliment.iron %> </td>
        <td> <%= aliment.sodium %> </td>
        <td> <%= aliment.selenium %> </td>
        <td> <%= aliment.sugars_per_equivalent %></td>
        <td> <%= aliment.glycemic_index %></td>
        <td> <%= aliment.glycemic_load %></td>
        <td> <%= aliment.ethanol %></td>
        <td> <%= aliment.fiber %></td>
        <td> <%= aliment.folic_acid %></td>
        <td> <%= aliment.satured_fatty_acids %></td>
        <td> <%= aliment.monounsaturated_fatty_acids %></td>
        <td> <%= aliment.polyunsaturated_fatty_acids %></td>
        <td> <%= link_to('Editar', edit_aliment_path(id: aliment.id)) %> </td>
      </tr>    
    <% end %>
  </tbody>
</table>