<section data-controller="modal" aria-labelledby="primary-heading"
  class="min-w-0 flex-1 h-full flex flex-col  lg:order-last overflow-y-auto">
  <div data-modal-target="modal">
    <%= render 'common/modals/assign_plan' %>
  </div>
  <h1 id="primary-heading" class="sr-only">Account</h1>

  <div class="flex flex-col h-screen">
    <header class="bg-white h-16 border-gray-300">
      <div class=" grid grid-cols-2 pt-0 pb-4 h-16">
        <div class="flex justify-start mt-3 mx-3">
          <div class="mt-0">
            <button onclick="location.href = '<%= admin_patients_path %>'" type="button"
              class="px-2 py-2 hover:bg-gray-100 rounded-full font-medium text-gray-500 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="border border-r border-gray-300 ml-4 mt-1 mb-2"></div>
          <p class="ml-6 mt-1.5  truncate text-lg font-semibold text-gray-900 truncate">Asignar plan</p>
        </div>

        <div class="mt-3 mx-8 flex justify-end">
          <button type="button"
            class="truncate mt-0 inline-flex items-center px-4 py-2 border border-transparent  text-md leading-4 font-semibold rounded-full text-indigo-600  hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
            </svg>
            Ver expediente
          </button>
          <div class="border border-r border-gray-300 ml-4 mt-1 mb-2"></div>
          <button data-action="modal#show" type="button"
            class="ml-4 mt-0.5 px-2 py-0 hover:bg-gray-100 rounded-full font-medium text-gray-500 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg fill="none" viewBox="0 0 24 24" class="w-6 h-6" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </header>


    <main class="flex-grow bg-gray-50 overflow-y-auto">
			<turbo-frame data-controller="plan-steps-shower" data-plan-steps-shower-target="turboFrame"
				data-action="refreshTurboFrame@window->plan-steps-shower#updateTurboFrame" id="calories"
				src="<%= edit_admin_patient_calory_path(id: @patient.id) %>">
				Content will be replaced when /messages has been loaded.
			</turbo-frame>
    </main>

    <footer 
			class="bg-white h-20 fixed bottom-0 w-full py-4 px-8 lg:px-12 flex justify-end border border-t"
			data-controller="wizard"
      data-action="macronutrimentsValidatorContinue@window->wizard#launchNext"
		>
      <div class="mt-1 w-full flex justify-center ml-36">
        <nav aria-label="Progress">
          <ol role="list" class="flex items-center">
            <li class="relative pr-8 sm:pr-16">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-gray-200"></div>
              </div>
              <a
								data-action="wizard#goTo"
								data-wizard-target="step"
								data-step-id="calories"
								data-step-url="<%= edit_admin_patient_calory_path(id: @patient.id)%>"
								id="step-link-1"
                class="relative w-7 h-7 flex items-center justify-center bg-indigo-500 border-2 border-indigo-600 rounded-full hover:bg-indigo-600"
                aria-current="step"
                style="cursor: default;"
							>
                <span 
									id="step-number"
									class="text-white font-semibold text-sm"
								>
									1
								</span>
              </a>
            </li>

            <li class="relative pr-8 sm:pr-16">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-gray-200"></div>
              </div>
              <a
								data-action="wizard#goTo"
								data-wizard-target="step"
								data-step-id="macros"
								data-step-url="<%= edit_admin_patient_macro_path(patient_id: @patient.id, id: @patient.plan.macronutrient.id)%>"
								id="step-link-2"
                class="relative w-7 h-7 flex items-center justify-center bg-white border-2 border-indigo-600 rounded-full hover:bg-indigo-50"
                aria-current="step"
                style="cursor: default;"
							>
                <span 
									id="step-number"
									class="text-indigo-500 font-semibold text-sm"
								>
									2
								</span>
              </a>
            </li>

            <li class="relative pr-8 sm:pr-16">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-gray-200"></div>
              </div>
              <a 
								data-action="wizard#goTo"
								data-wizard-target="step"
								data-step-id="portions"
								data-step-url="<%= edit_admin_patient_group_portion_path(patient_id: @patient.id, id: @patient.plan.group_portion.id)%>"
								id="step-link-3"
                class="relative w-7 h-7 flex items-center justify-center bg-white border-2 border-indigo-600 rounded-full hover:bg-indigo-50"
                aria-current="step"
                style="cursor: default;"
							>
                <span 
									id="step-number"
									class="text-indigo-500 font-semibold text-sm"
								>
									3
								</span>
              </a>
            </li>

                        <li class="relative pr-8 sm:pr-16">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-gray-200"></div>
              </div>
              <a 
								data-action="wizard#goTo"
								data-wizard-target="step"
								data-step-id="portions-time"
								data-step-url="<%= edit_admin_patient_group_portion_time_url(patient_id: @patient.id, id: @patient.plan.group_portion_time.id)%>"
								id="step-link-4"
                class="relative w-7 h-7 flex items-center justify-center bg-white border-2 border-indigo-600 rounded-full hover:bg-indigo-50"
                aria-current="step"
                style="cursor: default;"
							>
                <span 
									id="step-number"
									class="text-indigo-500 font-semibold text-sm"
								>
									4
								</span>
              </a>
            </li>

            <li class="relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="h-0.5 w-full bg-gray-200"></div>
              </div>
              <a 
								data-action="wizard#goTo"
								data-wizard-target="step"
								data-step-id="patient-recipes"
								data-step-url="<%= edit_admin_patient_patient_recipe_path(patient_id: @patient.id, id: 1)%>"
								id="step-link-5"
                class="relative w-7 h-7 flex items-center justify-center bg-white border-2 border-indigo-600 rounded-full hover:bg-indigo-50"
                aria-current="step"
                style="cursor: default;"
							>
                <span 
									id="step-number"
									class="text-indigo-500 font-semibold text-sm"
								>
									5
								</span>
              </a>
            </li>

          </ol>
        </nav>
      </div>

      <div class="flex justify-end ">
        <button 
					data-action="wizard#previous"
					data-wizard-target="previous"
					type="button"
          class="mr-4 inline-flex items-center px-4 py-2 border border-gray-300 text-lg leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				>
          Anterior
        </button>
        <button 
					data-action="wizard#next"
					type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-lg leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				>
          Siguiente
          <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 -mr-0.5 h-5 w-5" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
          </svg>
        </button>
      </div>
    </footer>
  </div>
</section>